/github_ignore_material/raw_data/*
!/github_ignore_material/raw_data/.gitkeep
/github_ignore_material/saves/*
!/github_ignore_material/saves/.gitkeep
eval/spice/lib/stanford-corenlp-3.6.0.jar
eval/spice/lib/stanford-corenlp-3.6.0-models.jar
.idea/*
**/__pycache__/*
**/tmp/*
!/eval/spice/tmp/.gitkeep
**/cache/*
!/eval/spice/cache/.gitkeep